.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;

    padding: 1px;
    background-color: #666666;
}

.grid-container div {
    background-color: aquamarine;

    cursor: default;

    margin: auto;
    text-align: center;

    --size: 20px;
    width: var(--size);
    height: var(--size);
}