.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;

    padding: 1px;

    background-color: #c7c7c7;
}

.grid-container.enabled {
    background-color: #666666;
}

t-cell {
    background-color: #f9f9f9;

    cursor: default;

    margin: auto;
    text-align: center;

    color: #b8b8b8;

    --size: 20px;
    width: var(--size);
    height: var(--size);
}

t-cell.enabled {
    color: black;
}