<t-item-rectangle [IsLoading]="IsLoading">
    <div class="container">
        <img class="game__image" src="/assets/game-img.png">
        <div class="players">
            <t-player-line [gameId]="Game.id" [cellType]="CellType.Cross" [playerId]="Game.crossPlayerId"
                (JoinButtonEvent)="joinButtonClick($event)"></t-player-line>
            <t-player-line [gameId]="Game.id" [cellType]="CellType.Zero" [playerId]="Game.zeroPlayerId"
                (JoinButtonEvent)="joinButtonClick($event)"></t-player-line>
        </div>
    </div>
</t-item-rectangle>