* {
    --content-width: 250px;
    --content-height: 65px;
    --content-padding: 10px;

    box-sizing: border-box;
}

.item-rectangle-container {
    display: flex;
    height: calc(var(--content-height) + var(--content-padding) * 2);
    margin: 5px;
    max-width: 100%;
}

@media (min-width: 900px) {
    .item-rectangle-container {
        min-width: var(--content-width);
    }
}

.item-rectangle-content {
    width: 100%;
    border-color: #e5e5e5;
    border-style: solid;
    border-width: 1px;
    padding: var(--content-padding);
}

.item-rectangle-overlay {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.700);
    width: var(--content-width);
    height: calc(var(--content-height) + var(--content-padding) * 2);
    z-index: 100000
}