<nav class="header">
    <div class="header__section">
        <a routerLink="/">
            <div class="header__logo"></div>
        </a>
        <a routerLink="/free" class="header__link" routerLinkActive="active-link">Свободные игры</a>
        <a routerLink="/my" class="header__link" routerLinkActive="active-link">Мои игры</a>
    </div>
    <div class="header__section">
        <a routerLink="/user" class="header__link" routerLinkActive="active-link">
            <div class="header__create_game_img"></div>
            Создать игру
        </a>
    </div>
</nav>
<router-outlet></router-outlet>